{{> organisms-header }}
<main class="workshop-status">
  <h1>Workshop<span class="event-name">{{ eventName }}</span></h1>
  <img class="chart" src="../../images/chart-example.png" alt=""> {{> organisms-participant-status-list }}
</main>
{{> organisms-footer }}