<ul class="sg-colors">
	<li>
		<span class="sg-swatch sg-midnight"></span>
		<span class="sg-label">
			$abb-midnight <br />
		</span>
	</li>

	<li>
		<span class="sg-swatch sg-red"></span>
		<span class="sg-label">
			$abb-red <br />
		</span>
	</li>

	<li>
		<span class="sg-swatch sg-near-white"></span>
		<span class="sg-label">
			$abb-near-white <br />
		</span>
	</li>

	<li>
		<span class="sg-swatch sg-teal"></span>
		<span class="sg-label">
			$abb-teal <br />
		</span>
	</li>

	<li>
		<span class="sg-swatch sg-blue"></span>
		<span class="sg-label">
			$abb-blue <br />
		</span>
	</li>
</ul>
