@import './colors';
$font-stack: Helvetica, sans-serif;
$medium-screen: 800px;

/**
 * Body base styles
 */
body {
	background: white;
	color: $abb-dark-gray;
	font: 100%/1.5 $font-stack;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	margin: 30px;
}

@media screen and (min-width: $medium-screen) {
	main {
		width: $medium-screen;
		margin: 30px auto;
	}
}


/**
 * Primary type element styles
 */
h1, h2, h3, h4, h5, h6 {
  color: $abb-dark-gray;
}

h1 {
	border-bottom: 1px solid $abb-near-white;
}

a {
	color: $abb-teal;
	text-decoration: none;
	border-bottom: 3px solid transparent;

	&:hover {
		border-bottom: 3px solid $abb-red;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
