<div>
  <fieldset>
    <legend>
      {{ label }}
    </legend>
    <div>
      <input name="some-field" type="hidden" value="">
      {{> atoms-radio-button(label: "Pretty nice", value: "Pretty nice") }}
      {{> atoms-radio-button(label: "Not too shabby", value: "Not too shabby") }}
      {{> atoms-radio-button(label: "Okayish", value: "Okayish") }}
    </div>
  </fieldset>
</div>
