<div>
  <fieldset>
    <legend>
      {{ label }}
    </legend>
    {{> atoms-checkbox(label: "Too hot", value:"Too hot") }}
    {{> atoms-checkbox(label: "Too cold", value:"Too cold") }}
    {{> atoms-checkbox(label: "Just right", value:"Just right") }}
  </fieldset>
</div>
