<div class="participantStatusItem">
  <div class="info">
    <div class="bio">
      <div class="photo-container">
        {{> atoms-profile-pic }}
      </div>
      <div>
        <h2 class="name">{{ name.first }} {{ name.last }}</h2>
        <p class="title">{{ role }}</p>
      </div>
    </div>
    <div class="indicator-container">
      {{> atoms-status-indicator }}
    </div>
  </div>
  <div class="progress">
    {{> atoms-progress-line }}
  </div>
</div>
